body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 62.5%;
  background: #ededed;
  font-family: Microsoft YaHei;
}

$contentHeight:343px;
$yellowColor:#FF7C08;
$settingHeight:3rem;

  /* screening */

div.filter-tabs-screening {
  width: 100%;
  overflow: hidden;
  background: #fff;
  position: fixed;
  z-index: 4;
  > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: solid 1px #d3d3d3;
    overflow: hidden;
    > li {
      float: left;
      /*width: 24%;*/
      text-align: center;
      line-height: 3rem;
      /*border-left: solid 1px #d3d3d3;*/
      background: url("../images/on_1.png") no-repeat 85% center;
      &.active {
        color: $yellowColor;
        background: url("") no-repeat 85% center;
      }
    }
  }
}

/* grade */

.filter-tabs-grade, .filter-tabs-sigle ,.filter-tabs-multiple,.filter-tabs-tags{
  position: fixed;
  top: -65%;
  width: 100%;
  height: 65%;
  z-index: 1;
  -webkit-transition-duration: 0.4s;
}

.filter-tabs-grade > ul, .filter-tabs-sigle > ul ,.filter-tabs-multiple > ul,.filter-tabs-tags > ul{
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
  width: 100%;
  -webkit-transition-duration: 0.4s;
}

.filter-tabs-grade > ul > li, .filter-tabs-sigle > ul > li ,.filter-tabs-multiple  > ul > li,.filter-tabs-tags > ul > li{
  line-height: 3rem;
  font-size: 0.12rem;
  padding-left: 1rem;
  /*border-bottom: solid 1px #eee;*/
}

.filter-tabs-grade > ul.grade-first {
  background: #eee;
  position: absolute;
  z-index: 1;
}

.filter-tabs-sigle > ul .active {
  color: $yellowColor;
}

.filter-tabs-grade > ul {
  &.grade-first .active {
    color: $yellowColor;
  }
  &.grade-second {
    background: #fff;
    position: absolute;
    z-index: 2;
    left: 100%;
    .active {
      color: $yellowColor;
    }
    > li {
      border-bottom: solid 1px #fff;
    }
  }
  &.grade-third {
    background: #fff;
    position: absolute;
    z-index: 3;
    left: 100%;
    list-style-type: none;
    > li {
      border-bottom: solid 1px #eee;
      margin-left: 1rem;
      padding: 0;
    }
  }
}

.grade-w-roll {
  top: 3rem;
  //&::after {
  //  position: fixed;
  //  content: "";
  //  width: 100%;
  //  height: 100%;
  //  display: block;
  //  background: rgba(0, 0, 0, 0.2);
  //  top: 0;
  //}
  .grade-w-background{
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    z-index: 0
  }

}

/* 单选 */

.filter-tabs-sigle {
  .filter-sigle-content {
    max-height: $contentHeight;
    background: #fff;
    position: absolute;
    z-index: 3;
    left: 0;
    list-style-type: none;
    padding-left: 1rem;
    > li {
      /*border-bottom: solid 1px #eee;*/
      padding: 0;
    }
  }
  .filter-sigle-setting {
    position: absolute;
    z-index: 4;
    bottom: 0px;
    height: 3rem;
    line-height: 3rem;
    background-color: #fff;
    width: 100%;
    border-top: 1px #ccc solid;
    padding-left: 1rem;
    .intervalTip{
      margin-right: 1rem;
    }
    .intervalInput{
      -webkit-appearance: none;
      background-color: #eee;
      padding:0.5rem 1rem;
      border: none;
      width: 3.5rem;
      text-align: center
    }
    .intervalHr{
      display: inline-block;
      height: 1px;
      width: 1rem;
      background-color:$yellowColor;
      border: none;
      margin: 0.5rem;
    }
    .intervalSure{
      color:$yellowColor;
      margin-left: 1rem;
      &:disabled{
        color:#f5cca9
      }
    }
  }
}

/* 多选 */
.filter-tabs-multiple{

  .filter-multiple-content {
    max-height: $contentHeight;
    background: #fff;
    position: absolute;
    z-index: 3;
    left: 0;
    list-style-type: none;
    > li {
      /*border-bottom: solid 1px #eee;*/
      padding:0 1rem;

      &.active{
        color: $yellowColor;
      }
      .multiple-checkbox{
        width: 20px;
        height: 20px;
        float:right;
        background-image:url('../images/noChoice@2x.png');
        background-repeat:no-repeat;
        background-size:contain;
        //background: url("../images/noChoice@2x.png") no-repeat contain center;
      }
      &.active .multiple-checkbox{
        background-image:url("../images/choice@2x.png");
        background-repeat:no-repeat;
        background-size:contain;
      }

    }
  }

  .filter-multiple-setting{
    position: absolute;
    z-index: 5;
    bottom: 0px;
    height: $settingHeight;
    line-height: $settingHeight;
    background-color: #fff;
    width: 100%;
    border-top: 1px #ccc solid;
    padding-left: 1rem;
    .multipleSure{
      -webkit-appearance: none;
      text-align: center;
      width: 90%;
      background-color:$yellowColor;
      color: #fff;
      border: none;
      height: 65%;
      border-radius: 3px;
    }
  }
}

/* tags多选 */
.filter-tabs-tags{

  .filter-tags-content {
    max-height: $contentHeight;
    background: #fff;
    position: absolute;
    z-index: 3;
    left: 0;
    list-style-type: none;
    li {
      /*border-bottom: solid 1px #eee;*/
      padding:0 1rem;
    }

    ul.tags {
      padding: 0;
      h2{
        line-height: 1.5rem;
      }
      li {
        padding: 0.1rem 0;
        background-color: #eee;
        margin: 0.2rem 0.4rem 0.3rem 0rem;
        line-height: 1.5rem;
        border-radius: 2px;
        width: 4.7rem;
        display: inline-block;
        text-align: center;

        &.active{
          color: #fff;
          background-color: $yellowColor;
       }
      }
    }

  }

  .filter-tags-setting{
    position: absolute;
    z-index: 5;
    bottom: 0px;
    height: $settingHeight;
    line-height: $settingHeight;
    background-color: #fff;
    width: 100%;
    text-align: center;
    border-top: 1px #ccc solid;
    .tagsSure{
      margin-right: 1rem;
      -webkit-appearance: none;
      text-align: center;
      width: 50%;
      background-color:$yellowColor;
      color: #fff;
      border: none;
      height: 65%;
      //float: right;
      border-radius: 3px;
    }
    .tagsReset{
      margin-left: 1rem;
      -webkit-appearance: none;
      text-align: center;
      //float: left;
      width: 30%;
      background-color:#fff;
      border: 1px solid #ccc;
      height: 65%;
      border-radius: 3px;
    }
  }
}


/* demo-content */

.demo-content {
  padding-top: 3rem;
}
